*.csv
*.pyc

# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.swp

# Arquivos de compilação
build/

# Arquivos de pacotes distribuídos
dist/

# Arquivos de teste
tests/

# Arquivos de documentação
docs/

# Diretório do ambiente virtual
# Arquivos do ambiente virtual
venv/
myenv/
*.zip
M4/main.py
